:root {
  --color-black-100: #161617;
  --color-black-200: #2e2f30;
  --color-black-300: #666769;
  --color-black-400: #a5a7ac;
  --color-white-500: #c8c9cc;
  --color-white-600: #d9dbde;
  --color-white-700: #f5f6f7;
  --color-white-800: #fcfdff;
  --color-blue-100: #081732;
  --color-blue-200: #112d5e;
  --color-blue-300: #adc0e3;
  --color-golden-100: #543d1d;
  --color-golden-200: #b8a182;
  --color-golden-300: #f5efe6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%; /* font-size 1rem = 10px on default browser settings */
}

/* --------- NAV --------- */

nav {
  padding: 1.5rem 0;

  display: flex;
  justify-content: center;
  background-color: #eff0f5; /* <<<<<<<<< REMOVER NO FIM DO PROJETO */
}

nav .container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  gap: 4rem;
  margin-right: 3rem;
}

.links a {
  color: var(--color-blue-100);
  font-size: 1.6rem;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  padding: 1.6rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 2.5px;
  color: var(--color-white-700);
  background-color: var(--color-blue-200);
}

/* --------- SECTION - BANNER --------- */

.banner {
  position: relative;
  /* width: 100vw; */
  height: calc(100vh - 8.2rem);
  background: url("assets/background.png") no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
}

.banner .container {
  width: 70%;
  display: flex;
}

.banner .container .description {
  width: 45%;
  position: absolute;
  align-self: center;
}

.banner .container .description span {
  font-size: 16px;
  line-height: 30px;
  color: var(--color-blue-300);
}

.banner .container .description h1 {
  font-family: "Playfair Display SC";
  font-size: 5.6rem;
  line-height: 7.5rem;
  color: var(--color-golden-200);
}

.banner .container .description p {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.5px;
  color: var(--color-golden-200);

  margin: 2.5rem 0;
  font-weight: 300;
}

/* .banner .container .description p strong {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
} */

.description-contact {
  color: var(--color-blue-200);
  background-color: var(--color-white-700);
}

.banner .container img {
  position: absolute;
  width: 24%;
  bottom: 0px;
  right: 25rem;
}

/* --------- SECTION - ABOUT-ME --------- */
.about-me {
  display: flex;
}

.about-me .brand {
  display: flex;
  /* justify-content: center; */

  position: relative;
  width: 50rem;
  height: 80rem;
  background-color: #6c6c6ce8;
  /* background-color: var(--color-white-600); */
}

.about-me .brand img {
  /* position: absolute;  */
  align-self: center;
  margin-left: 5rem;
}

.about-me img {
  width: 33rem;
}

.about-me .container {
  position: absolute;
  display: flex;
  align-items: center;
  align-self: center;
  left: 20%;
  /* margin: 0 auto; */
}

.about-me .container img {
  width: 48rem;
}

.about-me .description {
  width: 57rem;
}

.about-me .description .about {
  font-size: 1.4rem;
  letter-spacing: 4.5px;
  color: var(--color-blue-200);
}

.about-me .description .name {
  color: var(--color-black-100);
}

.check-paragraph {
  display: flex;
}

.check-paragraph span {
  margin-right: 1rem;
  font-size: 2.5rem;
  color: var(--color-blue-200);
}

.about-me .description h4 {
  margin: 1.6rem 0;
  font-size: 2.4rem;
  color: var(--color-black-200);
}

.about-me .description p {
  margin: 0.8rem 0;
  font-size: 1.4rem;
  line-height: 2.6rem;
  letter-spacing: 0.5px;
  color: var(--color-black-300);
}

.about-me .description button {
  margin-top: 2.4rem;
}

/* --------- SECTION - HIGHLIGHTS --------- */

.highlights {
  display: flex;
  justify-content: space-around;

  /* background-color: #a5a7ac; */
  background: url("assets/background.png");
}

.highlights .container {
  padding: 8rem 0;

  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}

.highlights .item {
  max-width: 37rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlights .item h4 {
  font-size: 2.4rem;
  line-height: 4.4rem;
  margin: 1.6rem 0;
  color: var(--color-white-800);
}

.highlights .item p {
  font-size: 1.6rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 0.5px;
  color: var(--color-white-600);
}

/* --------- SECTION - EXPERTISE-DEPOSITIONS --------- */

.expertise-depositions {
  padding: 12rem 0;
}

.expertise-depositions .consumer {
  margin-bottom: 8rem;

  display: flex;
  justify-content: center;
  gap: 6rem;
}

.consumer .description {
  max-width: 55rem;

  display: flex;
  flex-direction: column;
}

.consumer .description img {
  align-self: flex-start;
  margin-bottom: 3.2rem;
}

.consumer .description span {
  margin-bottom: 1rem;

  font-size: 1.4rem;
  letter-spacing: 4.5px;
  color: var(--color-blue-200);
}

.consumer .description h4 {
  margin-bottom: 0.8rem;

  font-weight: 400;
  font-size: 24px;
  line-height: 44px;
  letter-spacing: 0.5px;
  color: var(--color-black-100);
}

.consumer .description p {
  margin-bottom: 3rem;

  font-size: 1.4rem;
  line-height: 2.6rem;
  letter-spacing: 0.5px;
}

.consumer .description button {
  align-self: flex-start;
}

/* ----- DIV - AREAS-EXPERTISE ----- */
.divider {
  height: 1rem;
  background: linear-gradient(to left, green, yellow);
}

.expertise-depositions h3 {
  font-size: 3.2rem;
  line-height: 5.8rem;
  letter-spacing: 0.5px;
  color: var(--color-blue-200);
}

.areas-expertise {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.expertise {
  display: flex;
  align-items: center;
}

.expertise span {
  margin-right: 1rem;
  font-size: 2.5rem;
  color: var(--color-blue-200);
}

.expertise p {
  font-size: 1.6rem;
  line-height: 3rem;

  letter-spacing: 0.5px;
}
