/* ---------------- MEDIA SCREENS TABLET ---------------- */
@media (min-width: 1024px) and (max-width: 1440px) {
  .about-me .brand {
    width: 47rem;
  }
}

/* @media (min-width: 720px) and (max-width: 1024px) { */
@media (max-width: 1024px) {
  nav .container {
    padding: 0 8.5rem;
  }

  .menu .btn-ct-menu {
    display: none;
    visibility: hidden;
  }

  .menu .side-menu {
    display: initial;
    visibility: visible;
  }

  .menu .links {
    /* R E T I R A R   D E P O I S */
    display: none;
    visibility: hidden;
  }

  /* --------- BANNER --------- */
  .banner .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "description"
      "image";
    grid-template-rows: 41rem auto;
    padding: 6rem 8.5rem 0 8.5rem;
    justify-items: center;
  }

  .banner .description {
    grid-area: description;
  }

  .banner .description {
    align-self: initial;
    text-align: center;
  }

  .banner .container img {
    grid-area: image;
    max-width: 25vh;
    /* width: calc(100vh - 132rem); */
    right: initial;
    justify-self: center;
  }

  /* --------- EXPERTISES --------- */
  .expertises .consumer {
    margin: 0 11rem;
    flex-direction: column-reverse;
  }

  .title-areas-expertise .highlight-line {
    width: 9.5rem;
  }

  .areas-expertise .items-expertise {
    margin: 0 11rem;
    max-width: initial;
    grid-template-columns: 1fr;
  }

  .expertises .family-right {
    margin: 0 11rem;
    flex-direction: column;
  }

  .expertises .separator-line {
    margin: 3.4rem 0 6.4rem 0;
  }

  /* --------- HIGHLIGHTS --------- */
  .highlights {
    background-position: -2660px;
  }

  .highlights .container {
    margin: 9rem 0;
    /* padding: 0 5rem; */
    grid-template-columns: initial;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
  }

  .highlights .itens {
    gap: 8rem;
    grid-template-columns: 1fr;
  }

  /* --------- ABOUT-ME --------- */
  .about-me {
    height: initial;
  }

  .about-me .brand {
    display: none;
    visibility: hidden;
  }

  .about-me .container {
    padding: 10rem 10.7rem 2rem 10.7rem;

    grid-template-columns: 1fr;
    grid-template-areas:
      "description"
      "image";
    gap: 3rem;
  }

  .photo-black {
    grid-area: image;
  }

  .about-me .description {
    grid-area: description;
  }

  .about-me .description p {
    max-width: 95%;
  }

  /* --------- DEPOSITIONS --------- */
  .depositions {
    margin-top: 7.3rem;
  }

  .logo-k-testimony {
    display: none;
    visibility: hidden;
  }

  .testimony {
    flex-direction: column;
    gap: 0;
  }

  .testimony-item {
    width: 56rem;
    height: auto;
  }

  .testimony-item:nth-child(2),
  .testimony-item:nth-child(3) {
    /* TEMPORARY */
    /* Desativar quando for fazer a 
    passagem automática através de JS */
    display: none;
    visibility: hidden;
  }

  .testimony .dots {
    transform: rotate(270deg); /* TEMPORARY */
  }

  /* --------- WHATSAPP --------- */
  .whatsapp .container {
    padding: 0 11.5rem;
    background-position: right;
  }

  .whatsapp .container h3 {
    width: auto;
    font-size: 2.4rem;
  }

  /* D E S A T I V A N D O  S E C T I O N S  */
  /* .banner, */
  /* .expertises, */
  /* .highlights, */
  /* .about-me, */
  /* .depositions, */
  /* .whatsapp, */
  .contact,
  footer {
    display: none;
    visibility: hidden;
  }
}
